*/
header{
    padding:20px 40px;
    border-bottom:1px solid #ddd;
    background:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    align-items:center;
    gap:20px;
    list-style:none;
    padding:0;
}

nav li{
    display:flex;
    align-items:center;
    gap:5px;
    cursor:pointer;
}

nav svg{
    width:20px;
    height:20px;
}


form{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    background:white;
    border:1px solid #ddd;
    border-radius:50px;
    padding:12px 20px;
    width:700px;
    margin:25px auto;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

form ul{
    list-style:none;
    padding:0;
    margin:0;
}

form input{
    border:none;
    outline:none;
    background:transparent;
}

button{
    background:#ff385c;
    color:white;
    border:none;
    border-radius:50%;
    width:40px;
    height:40px;
    cursor:pointer;
}





.houses{

    display:grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.build{
    width: 200px;
    border:1px solid #ddd;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow: 0 2px 10px rgba(0,0,0.15);
}

.build img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.build:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.build:active{
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}
.rating{
    margin: 10px;
    display:block
}


